﻿/*	Blueprint overrides	*/

body
{
    color: #333;
}
h1, h2, h3, h4, h5, h6
{
    color: #000;
}
.quiet
{
    color: #666;
}
a
{
    text-decoration: none;
}
.inline-block
{
    display: inline-block;
}
.block
{
    display: block;
}
.pad-3
{
    padding: 3px;
}
.pad-5
{
    padding: 5px;
}
.pad-10
{
    padding: 10px;
}
.pad-15
{
    padding: 15px;
}
.pad-20
{
    padding: 20px;
}
.pad-search
{
    padding: 0px 35px 12px;
}
.margin-3
{
    margin: 3px;
}
.margin-5
{
    margin: 5px;
}
.margin-10
{
    margin: 10px;
}
.margin-15
{
    margin: 15px;
}
.margin-20
{
    margin: 20px;
}
.heading
{
    font-size: 1.3em;
    font-weight: bold;
    color: #CC0000;
}
.heading-major
{
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    background-color: #000000;
    color: #fff;
    margin-bottom: 5px;
}
a.button
{
    text-decoration: none;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    color: #fff;
    margin-bottom: 5px;
    background-color: #000000;
    border: 2px solid #000000;
}
a.button.right
{
    float: right;
}
a:hover.button
{
    border: 2px solid #1CAFEB;
}
a.button.super
{
    font-size: 2.0em;
}

img.image-small
{
    height: 100px;
}
img.image-medium
{
    height: 200px;
}
img.image-large
{
    height: 300px;
}

img.image-small-width
{
    width: 150px;
}

.float-right
{
    float: right;
}

.float-left
{
    float: left;
}

.textbox-fullwidth
{
    width: 100%;
}
.round
{
    text-align: center;
    background-color: #666666;
    padding-top:10px;
    padding-bottom:10px;
}
a.bar-link
{
    padding-left: 96px;
    padding-right: 96px;
    text-align: center;
    font-size: 2.2em;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #666666;
    border-right: 2px solid #FFFFFF;
}
a.bar-link.end{border-right:none;}

a:hover.bar-link
{
    color: #1CAFEB;
}

.remove-nav-gutter
{
    position: relative;
    top: -10px;
}



.dropdown-19
{
    width: 751px;
}
.textbox-19
{
    width: 745px;
}
.textarea-19
{
    width: 740px;
    height: 100px;
    padding: 5px;
}
