﻿ul#nav{
	list-style: none;
}
/*ul#nav {
	width: 640px;
	height: 25px;
	margin: 10px 0 10px 0;
	z-index: 999999;
	background-color:#000000;
}*/
ul#nav li {
	height: 31px;
	position: relative;
	float: left;
	z-index: 999999;
}
ul#nav li a.tab {
	width:  85px;
	padding:3px;
	vertical-align:middle;
	text-align:center;
	position: relative;
	float: left;
	text-decoration:none;
	font-size:1.1em;
	font-weight:bold;
	background-color:#000000;
	border-left:2px solid #999999;
	color:#fff;
}
ul#nav li a.tab.first {
	border-left:none;
}
ul#nav li a:hover.tab, ul#nav li a.nav-hover {
	background-color:#FF33CC;
	border-bottom:none;
}


ul#nav li div.nav-menu-content 
{
	color:#000;
	background-color:#FF33CC;
	border:1px solid #000000;
	/* border-top:none; */
	display:none;
	position:absolute;
	top:25px;
	width:368px;
}
ul#nav li div.nav-menu-content a 
{
	color:#000000;
}
ul#nav li div.nav-menu-content a:hover 
{
	color:#ffffff;
}
/*
ul#nav li#nav-home div.nav-menu-content 
{
	left:0px;
}
ul#nav li#nav-classes div.nav-menu-content 
{
	left:-91px;
}
ul#nav li#nav-resume div.nav-menu-content 
{
	left:-184px;
}
ul#nav li#nav-contact div.nav-menu-content 
{
	left:-277px;
}
*/
/* next will be -370 */
.focusField{
    border:solid 2px #FF33CC;
    background:#EFF5FF;
    color:#000;
}
.idleField{
    background:#EEE;
    color: #6F6F6F;
    border: solid 2px #999999;
}
.nav-heading
{
    font-size: 1.3em;
    font-weight: bold;
    color: #FFFFFF;
}